<h1>Quesion details</h1>

<h3><%= @question.title %></h3>

<p><%= @question.description %></p>

<%= link_to "Edit question", edit_question_path(@question) %>
<%= link_to 'Delete This Y\'all', @question, method: :delete %>

<h3>Submit Answer</h3>
<%= form_for [@question, @answer] do |f| %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :user_id %>
  <%= f.number_field :user_id, min: 1 %>
  <%= f.submit "Add answer" %>
<% end %>

<% if @errors %>
  <% @errors.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<h3>Answer?s</h3>
<% @answers.each do |answer| %>
  <p><%= answer.description %></p>
<% end %>

<%= link_to "Question list", questions_path %>
